{% extends 'photos/base.html' %}

{%block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">

      <div class="card">
        <div class="card-header">
          Categories
        </div>
        <ul class="list-group list-group-flush">
          {%for category in categories%}
          <li class="list-group-item">{{category.name}}</li>
          {%endfor%}

        </ul>
        <a href="{% url 'upload' %}" class="btn btn-outline-dark btn-block btn-sm m-1">Upload Photos</a>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        {%for photo in photos %}

        <div class="col-md-4">
          <div class="card">
            <img class="image-thumbnail" src="{{photo.image.url}}" class="card-img-top" alt="...">
             <div class="card-body">
              <h5 class="card-title">{{photo.title}}</h5>
              <p class="card-text">Category:{{photo.category.name}}</p>
             </div>
             <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
          </div>
         </div>
         {%empty%}
         <h3>No Photos</h3>
         {%endfor%}

      </div>

    </div>

  </div>

</div>
{%endblock%}